html {background-color: darkolivegreen}

body {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    display: grid;
    background-color: lightcyan;
    padding: 10px
}

h1 {
    color:green;
    text-align: center
}

h2 {
    color:darkgreen;
    text-align: center
}

h3 {
    color:darkolivegreen;
    text-align: center
}

p {
    font-size: large
}

nav ul {
    padding: 0px;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    width: 15%; 
    margin-right: 0px; 
    font-size: large;
}

a {
    color:rgb(112, 155, 48)
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

address {
    text-align: left
}


.infogeral {
    text-align: center;
    line-height: 37pt;
    margin-left: 75px;
}

.contato{
    margin-top: 40px;
    text-align: left;
    line-height: 20pt;
    font-size: larger;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    width: 100%;
    max-width:600px; 
    margin: 0 auto;   /*centraliza o bloco do container1*/
    justify-content: center;
}

.container2{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container2 p {
    text-align: center; 
    margin-left: 25px;
    margin-right: 25px;
    flex: 1; 
    margin-bottom: 50px;
    margin-top: 50px
}
.container2 img {
    margin-right: 25px;
    margin-left: 25px;
    max-width: 800px; 
    margin: 10 auto; 
    padding: 10px;
    display: inline-block;
    
}

@media screen and (max-width: 800px) {
    html {background-color: lightcyan}

    body {
        padding: 0;
        text-align: center;
        margin-left:20px;   
        margin-right: 20px
    }

    .content {
        display: grid;
    }

    nav li {
        display: inline-block;
        width: 19%; 
        font-size: small;
    }

    .container1 {
        width: 100%;
        max-width:270px; 
        padding: 0 0px;
        align-items: center;
    }

    .infogeral {
        text-align: center; 
        line-height: 20pt;
        margin-left: 0;
    }

    .container2{
        display: block;   /*centralizar as imagens*/
        align-items: center;
        margin-bottom: 10px;
    }

    .container2 p {
        flex: 0; 
        margin-top: 10px
    }

    .container2 img {
        margin-right: 10px;
        margin-left: 10px;
        padding: 0px;
        
    }

}

@media screen and (max-height: 600px) {
    body {
        margin-left: 50px;
        margin-right: 50px;
    };
}

